<div class="header-info">
  <span class="header-info-name">{{ site.title }}</span>
  <span>
    <a href="https://github.com/olly-mapps">
      <i class="fa fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/olly-mapps/">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="mailto:mappsoliver@gmail.com">
      <i class="fa fa-envelope"></i>
    </a>
  </span>
</div>
<nav class="header-nav">
  <ul class="header-main-nav">
    {% for item in site.data.menus %}
    <li class="header-main-nav-item">
      <a href="{% if item.absoluteUrl != true %}{{ site.baseurl }}/{% endif %}{{ item.url }}">
        {% if item.default %}
          {{site.data.lang[site.language][item.default]}}
        {% else %}
          {{ item.title }}
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
